.navbar{
    font-family: 'Amatic SC', cursive;;
    font-weight: bold;
    font-size: 35px;

}

.social-buttons{
    color: rgb(62, 199, 44);
    
}
/* .background {
    height: 500px;
    width: 500px;
    background-repeat: repeat;
} */
.background{
    z-index: -1;
    margin-left: 10%;


}
.btn{
    background-color: rgb(216, 73, 202);
}
.mb-3{
    font-family: 'Amatic SC', cursive;;
    font-weight: bold;
    font-size: 20px;
}
